{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <form>
    <div>
      거래방식 : 
      <select id="select_value" onchange="changeValue()">
        <option value="1">PitIn 경매</option>
        <option value="2">시간제 경매</option>
      </select>
    </div>
    <br> 

    <div>
      거래 종류 : 
      <select>
        <option value="1">One</option>
        <option value="2">two</option>
        <option value="3">three</option>
        <option value="4">four</option>
        <option value="5">five</option>
      </select>
    </div>
    <br>
    <div>
      회사 :      
      <select>
        <option value="1">One</option>
        <option value="2">two</option>
        <option value="3">three</option>
        <option value="4">four</option>
        <option value="5">five</option>
      </select>
    </div>
  </form>
</div>          



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function changeValue() {
  var value_str = document.getElementById('select_value'); 
  var auctionType = value_str.options[value_str.selectedIndex].value;
  console.log(auctionType, ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
    // alert("value:" + value_str.options[value_str.selectedIndex].value);  
     axios.post('/auctionTypeCheck',{
      firstName: auctionType,
      lastName: 'Doe'
     })
      .then((result) => {
        console.log(result);
        console.log(result.data);
      })
      .catch((error) => {
        console.error(error); 
      });
  };




  



  //  $.ajax({
    //   type: "POST",
  //   url: "/",
  //   data: params,
  //   success: function(res) {
    //     alert("ajaxTest");
    //   },
    //   error:function(XMLHttpRequest, textStatus, errorThrown) {
      //     alert("ajaxTestError");
      //   }
      //  });
      
    </script>
{% endblock %}


