{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <h2>Pit In 경매 상품 등록</h2>
    <nav>
      <div class="container">
          <ul>
              <li><a href="/auctionType">경매구분</a></li>
              <li><a href="#">대분류</a></li>
              <li><a href="#">소분류</a></li>
              <li><a href="#">Company</a></li>
              <li><a href="#">Model</a></li>
              <li><a href="#">Type</a></li>
              <li><a href="#">Year</a></li>
              <li><a href="#">적산거리</a></li>
          </ul>
      </div>
    </nav>
    <br>
    <nav>
      <div class="container">
          <ul>
              <li><a href="#">City</a></li>
              <li><a href="#">District</a></li>
              <li><a href="#">경매시작가</a></li>
          </ul>
      </div>
    </nav>
    <p id="PaperCheck">
      <input type="checkbox" name="vehicle1" value="Bike">등록증<br>
      <input type="checkbox" name="vehicle2" value="Car">신분증<br>
      <input type="checkbox" name="vehicle3" value="Boat">양도증명<br>
    </p>
</div>          
<script>
</script>
{% endblock %}

