{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <form>
    ProWare
    <br>
    <br>
    <div>
      거래 방식 : 
      <select id="select_value" onchange="changeValue()">
        <option value="1">PitIn 경매</option>
        <option value="2">시간제 경매</option>
      </select>
    </div>
    <br>
    <div>
      용품 메이커 :      
      <select>
        <option value="1">아라이</option>
        <option value="2">다이네즈</option>
        <option value="3">쇼웨이</option>
        <option value="4">알파인스타</option>
        <option value="5">sidi</option>
      </select>
    </div>
    <br>
    <div>
      용품 소분류 :      
      <select>
        <option value="1">장갑</option>
        <option value="2">글러브</option>
        <option value="3">헬멧</option>
        <option value="4">부츠</option>
        <option value="5">자켓</option>
      </select>
    </div>
    <br>
    <div>
      색상 :      
      <select>
        <option value="1">검은색</option>
        <option value="2">빨간색</option>
        <option value="3">노란색</option>
        <option value="4">하얀색</option>
        <option value="5">파란색</option>
      </select>
    </div>
    <br>
    <div>
      연식 :      
      <select>
        <option value="1">2023</option>
        <option value="2">2022</option>
        <option value="3">2021</option>
        <option value="4">2020</option>
        <option value="5">2019</option>
      </select>
    </div>
    <br>
    <div>
      지역(도시) :      
      <select>
        <option value="1">서울</option>
        <option value="2">대전</option>
        <option value="3">대구</option>
        <option value="4">부산</option>
        <option value="5">광주</option>
      </select>
    </div>
    <br>
    <div>
      지역(구) :      
      <select>
        <option value="1">용산구</option>
        <option value="2">중구</option>
        <option value="3">동대문구</option>
        <option value="4">광진구</option>
        <option value="5">강남구</option>
      </select>
    </div>
    <br>
    희망 거래방법: 
    <br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"><label for="vehicle1">직거래</label>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car"><label for="vehicle2">안심거래</label>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat"><label for="vehicle3">카드거래</label>
    <br>
    <br>
    <div>
      제목 : <input></input>
    </div>
    <br>
    <div>
      판매글 : <input></input>
    </div>
    <br>
    <div>
      경매 시작가 : <input></input>
    </div>
  </form>
</div>          



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function changeValue() {
    var value_str = document.getElementById('select_value'); 
    var auctionType = value_str.options[value_str.selectedIndex].value;
    axios.post('/auctionTypeCheck',{
      auctionType: auctionType,
      lastName: 'Doe'
     })
      .then((result) => {
        console.log(result);
        console.log(result.data);
      })
      .catch((error) => {
        console.error(error); 
      });
  };




  



  //  $.ajax({
    //   type: "POST",
  //   url: "/",
  //   data: params,
  //   success: function(res) {
    //     alert("ajaxTest");
    //   },
    //   error:function(XMLHttpRequest, textStatus, errorThrown) {
      //     alert("ajaxTestError");
      //   }
      //  });
      
    </script>
{% endblock %}


